* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
}

:root {
    --color_primary: #0061ff;
    --color_primary_light: #b4d0e7;
    --span_size: 0.7rem;
    --padding_40: 40px;
    --padding_20: 20px;
}

/* --------- Fine General ---------  */


.box_general {
    width: 1280px;
    border: 1px dashed black;
}

.nav_container {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}

.nav_left, .nav_right {
    display: flex;
    align-items: center;
    
}

.button {
border: none;
text-decoration: none;
background-color: var(--color_primary);
color: white;
padding: 0.2rem 0.4rem;
font-size: var(--span_size);
}


.nav_left img{
    width: 80px;
}

.nav_left span,
.nav_right span {
font-size: var(--span_size);
padding: var(--padding_20);

}

/* ------------- Fine Nav -----------  */

.bg {
    background-color: #b4d0e7;
}

.container {
    width: 900px;
    margin: 0 auto;
    padding-top: var(--padding_40);
}

.box_paragraph {
    display: flex;
}

h1 {
    font-size: 3.8rem;
    padding-bottom: var(--padding_40);
}

.unsub {
    text-decoration: none;
    color: black;
    padding-top: var(--padding_20);
    padding-bottom: 100px;
    display: block;
}

.paragraph i {
    font-size: 1.5rem;
}

.paragraph {
    width: 250px;
    font-size: var(--span_size);
}

.paragraph p, .paragraph i {
    padding-bottom: var(--padding_20);
}

.jumbo_img {
    width: 600px;
    height: 100%;
    margin-bottom: -50px;
}
