* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

img {
  width: 100%;
}

:root {
    --color_primary: #0061ff;
    --color_primary_light: #b4d0e7;
    --span_size: 10px;
    --padding_20: 20px;
    --padding_10: 10px;
}

.container_general {
    width: 920px;
    height: auto;
    /* border: 1px dashed black; */
}

.nav_container {
    display: flex;
    justify-content: center;
    height: 40px;
    justify-content: space-between;
    padding: 20px;
}

.nav_left, .nav_right {
    display: flex;
    align-items: center;
    
}

.button {
border: none;
background-color: var(--color_primary);
color: white;
padding: 3px 10px;
font-size: 10px;
}

.nav_left img{
    width: 60px;
    height:fit-content; 
}

.nav_left span,
.nav_right span {
font-size: var(--span_size);
padding: 10px;

}

.container_hero {
    max-height: 300px;
    border: 1px dashed black;
    background-color: #b4d0e7;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.box_hero {
    min-width: 520px;
}

.hero {
    display: flex;
}
.hero_img {
    width: 380px;
}

.title, .arrow {
    font-size: 23px;
}

.title, .delete_span {
    padding-bottom: var(--padding_20);
}

.paragraph, .button_container {
    padding-bottom: var(--padding_10);
}

.container_paragraph {
    font-size: var(--span_size);
}



